<div class="bg">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 30rem; margin-top: 30px; margin-left: 100px;">

                <img class="card-img-top" src="https://www.sciencemag.org/sites/default/files/styles/article_main_image_-_1280w__no_aspect_/public/wfh_1280p.jpg?itok=1CLrK1xQ" alt="Card image cap">

                <div class="card-body">

                    <h4 class="card-title"><a>Neon Project</a></h4>

                    <p class="card-text">This is a dummy project created as part of our ADM assignment. Its a database management system simply allow you to manage your notes and works.
                    </p>
                    <a href="#" class="btn btn-primary">Just Sign In and Enjoy</a>

                </div>

            </div>

        </div>
        <div class="col-xs-6">
            <app-register></app-register>
        </div>
    </div>
</div>
