<!-- Card -->
<div class="wrap">
    <div class="card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div *ngIf="status == 1" class="alert alert-success" role="alert">
            Deleted Sucessfully
        </div>
        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">{{title}}</h4>
            <!-- Text -->
            <p class="card-text">{{notes}}</p>
            <!-- Button -->
            <button class="btn btn-primary" (click)="DeleteCard()">DELETE</button>

        </div>

    </div>
    <!-- Card -->

</div>
