<div class="wrap">
    <section class="form-gradient mb-5">

        <!--Form with header-->
        <div class="card">

            <!--Header-->
            <div class="header peach-gradient">

                <div class="row d-flex justify-content-center">
                    <h3 class="white-text mb-0 py-5 font-weight-bold">Create Notes</h3>
                </div>

            </div>
            <!--Header-->
            <div *ngIf="status == 1" class="alert alert-success" role="alert">
                Notes Added
            </div>
            <div *ngIf="status == 0" class="alert alert-danger" role="alert">
                Something gone wrong
            </div>

            <form method="POST" #userlogin="ngForm" (ngSubmit)="OnSubmit(userlogin.value)">
                <div class="card-body mx-4">
                    <div class="md-form">
                        <i class="fas fa-tag prefix grey-text"></i>
                        <input type="text" id="form106" class="form-control" name="title" ngModel value="{{title}}">
                        <label for="form106">Subject</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                        <textarea id="form107" class="md-textarea form-control" rows="5" name="notes" ngModel placeholder="{{notes}}"></textarea>
                        <label for="form107">Your Notes</label>
                    </div>


                    <div class="row d-flex align-items-center mb-3 mt-4">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-grey btn-rounded z-depth-1a">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p>{{notes}}</p>

        </div>
        <!--/Form with header-->

    </section>
</div>
