.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
}
